<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.openclaw.clipmem.watch</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{CLIPMEM_BIN}}</string>
      <string>watch</string>
      <string>--db</string>
      <string>{{CLIPMEM_DB_PATH}}</string>
      <string>--interval-ms</string>
      <string>{{CLIPMEM_INTERVAL_MS}}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>{{WORKING_DIRECTORY}}</string>

    <key>StandardOutPath</key>
    <string>{{STDOUT_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{STDERR_PATH}}</string>
  </dict>
</plist>
